body {
    margin: 0;
    padding: 0;
    background: url("../assets/bg.gif") center/cover repeat fixed;
}

@font-face {
    font-family: "HjFont";
    src: url(../assets/FLyouzichati-Regular-2.ttf);
}

@font-face {
    font-family: "KrFont-Thin";
    src: url(../assets/ThinDungGeunMo.ttf);
}

@font-face {
    font-family: "KrFont-Bold";
    src: url(../assets/BoldDunggeunmo.ttf);
}

/* 일본어/한국어 텍스트용 공통 클래스 */
.hj-text {
    font-family: "HjFont";
}

.kr-text {
    font-family: "KrFont-Thin";
}

/* 공통으로 쓰는 helper */
.hidden {
    display: none !important;
}